<div class="navbar navbar-dark bg-primary  navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">ShopApp</a>
        <ul class="navbar-nav mr-auto">
            <li class="navbar-nav active">
              <a routerLink="/shop" class="nav-link" href="#">Home</a>
            </li>
            <li class="navbar-nav">
              <a routerLink="/shop" class="nav-link" href="#">Products</a>
            </li>
            <li class="navbar-nav">
              <a routerLink="/cart" class="nav-link" href="#">Cart</a>
            </li>
            <li class="navbar-nav">
                <a routerLink="/checkout" class="nav-link" href="#">Orders</a>
              </li>
              <li class="navbar-nav">
                <a class="nav-link" href="#">Add Product</a>
              </li>
              <li class="navbar-nav">
                <a class="nav-link" href="#">Admin Product</a>
              </li>
              <li class="navbar-nav">
                <a class="nav-link" href="#">Add Category</a>
              </li>
              <li class="navbar-nav">
                <a class="nav-link" href="#">Categories</a>
              </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="navbar-nav">
                <a href="" class="nav-link active">Login</a>
            </li>
            <li class="navbar-nav">
              <a href="" class="nav-link active">Register</a>
            </li>
            <li class="navbar-nav">
              <a href="" class="nav-link active">Logout</a>
            </li>
        </ul>
    </div>
</div>